<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to GiftLane</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div class="wrapper">
<!--Header start -->
	<div class="header">
		<div class="topNav">
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
          </div>
            <div class="topHead">
                <h1>SCENTS EXTRAORDINAIRE</h1>
            </div>
            <!--Top Slider -->
            <div class="topBanner">
       	    	<img src="images/topscroll.jpg" width="960" height="425" alt="Scroll" />
            </div>
            <div class="logo"><a href="#"><img src="images/logohome.png" width="389" height="95" alt="logo" /></a>
    	</div>
    </div>
    
    <!--Contionor start -->
    <div class="container">
    	<div class="way">
        	<ul>
            	<li><a href="#"><img src="images/lookout.png" width="180" height="180" alt="look out" /></a>
                	<h1 class="wayTitle"><a href="#">Look Out</a></h1>
                    <span class="wayText">Search for the best gift based on our list of reccomendations.</span>
                </li>
                <li><a href="#"><img src="images/bowon.png" width="180" height="180" alt="PUT A BOW ON IT" /></a>
                	<h1 class="wayTitle"><a href="#">PUT A BOW ON IT</a></h1>
                    <span class="wayText">We'll wrap your special gift nicely, you can even customise the wrapping!</span>
                </li>
                <li><a href="#"><img src="images/ontheway.png" width="180" height="180" alt="ON ITS WAY" /></a>
                	<h1 class="wayTitle"><a href="#">ON ITS WAY</a></h1>
                    <span class="wayText">We'll deliver it and make sure it arrives on time for the surprise.</span>
                </li>
            </ul>
        </div>
        
        <!--Submen -->
        <div class="subMenu">
	    <ul>
            	<li><a href="#">PERSONALISE</a></li>
                <li><a href="#">CATEGORIES</a></li>
                <li><a href="#">JUST IN</a></li>
            </ul>
        </div>
        <!--Midd Slider -->
        <div class="middSlider">
   	    	<img src="images/slider2.jpg" width="960" height="465" alt="slider" />
        </div>
  <div class="displayBox">
        	<span class="title1">JUST IN</span>
            <div class="productBx">
            	<ul>
                	<li><a href="#"><img src="images/pro1.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
                </ul>
                <div class="suggestion"><a href="#">MORE SUGGESTIONS</a></div>
      </div>
        </div>
    </div>
</div>
<!--footer -->
<div class="footerWrapper">
<div class="footerBx">
    	<div class="footerLogo"><img src="images/footerlogo.png" width="82" height="82" alt="logo" /></div>
        <div class="footerNav">
        	GIFTLANE CO.	
        	<ul>
            	<li><a href="#">ABOUT US</a></li>
                <li><a href="#">JOIN OUR TEAM</a></li>
                <li><a href="#">PARTNERS</a></li>
                <li><a href="#">TERMS OF USE</a></li>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="#">FAQS</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>
        <div class="footerNav">
        	RETURN POLICY	
        	<ul>
            	<li><a href="#">TERMS &amp; CONDITIONS</a></li>
            </ul>
        </div>
        <div class="footerNav">
        	<ul>
            	<li></li>
            </ul>
        </div>
        <div class="join">
        	<span>JOIN OUR MAILING LIST</span>
            <input name="" type="text" class="textFild" value="Enter your email address" />
           <span> ELSEWHERE</span>
            <div class="social">
            	<a href="#" class="fb"></a>
                <a href="#" class="twit"></a>
                <a href="#" class="twit2"></a>
                <a href="#" class="p1"></a>
                <a href="#" class="p2"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
