<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to GiftLane</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<div class="wrapper">
<!--Header start -->
	<div class="header2">
   	  <div class="logo_inner"><a href="#"><img width="389" height="95" alt="logo" src="images/logohome.png"></a></div>
        <div class="topNav_inner">
          <ul>
         	<li><a href="#"><img src="images/searchicon.png" width="18" height="17" alt="search" /></a></li>
          	<li><a href="#">CART <span>(1)</span></a></li>
            <li><a href="#">MY ACCOUNT</a></li>
            <li><a href="#">LOGOUT</a></li>
          </ul>
          </div>
             <!--Submen -->
        <div class="subMenu">
	  		 <ul>
            	<li><a href="#">HOME</a></li>
                <li><a href="#">PROFILING</a></li>
                <li><a href="#">CATEGORIES</a></li>
                <li><a href="#">JUST IN</a></li>
            </ul>
        </div>
        <!--Info Box -->
        <div class="infoBx">
        	<div class="info_left">Personalise > <span>Step 1 of 5</span></div>
            <div class="info_right"><a href="#">SKIP THIS STEP</a></div>
        </div>
       <!--Midd Slider -->
        <div class="middSlider">
   	    	<img src="images/banimg.jpg" width="960" height="465" alt="slider" />
        </div>
    </div>
    
    <!--Contionor start -->
    <div class="container">   	
     
     <!--Display Box -->
    <div class="displayBox">
        	<span class="brk"></span>
            <div class="productBx">
            	<ul>
                	<li><a href="#"><img src="images/pro1.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
              <li><a href="#"><img src="images/green.jpg" width="300" height="240" alt="pro" /></a>
                    	<div class="proDetial">
                        	<div class="proLeft">
                           		<a href="#">ITEM NAME ITEM NAME</a>
                                <span class="brandName"><a href="#">Brand Name</a></span>
                            </div>
                          <div class="proRight">Price</div>
                        </div>
                    </li>
                </ul>
                <div class="suggestion"><a href="#">MORE SUGGESTIONS</a></div>
      </div>
        </div>
    </div>
</div>
<!--footer -->
<div class="footerWrapper" style="margin-top:193px;"> <!--please remove the margin ater intigration -->
<div class="footerBx">
    	<div class="footerLogo"><img src="images/footerlogo.png" width="82" height="82" alt="logo" /></div>
        <div class="footerNav">
        	GIFTLANE CO.	
        	<ul>
            	<li><a href="#">ABOUT US</a></li>
                <li><a href="#">HOW IT WORKS</a></li>
                <li><a href="#">JOIN OUR TEAM</a></li>
                <li><a href="#">PARTNERS</a></li>
                <li><a href="#">TERMS OF USE</a></li>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="#">FAQS</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>
        <div class="footerNav">
        	RETURN POLICY	
        	<ul>
            	<li><a href="#">TERMS &amp; CONDITIONS</a></li>
            </ul>
        </div>
        <div class="footerNav">
        	<ul>
            	<li></li>
            </ul>
        </div>
        <div class="join">
        	<span>SUBSCRIBE TO NEWSLETTER</span>
            <input name="" type="text" class="textFild2" value="Enter your email address" />
            <input name="" type="button" class="submit" />
           <span> ELSEWHERE</span>
            <div class="social">
            	<a href="#" class="fb"></a>
                <a href="#" class="twit"></a>
                <a href="#" class="twit2"></a>
                <a href="#" class="p1"></a>
                <a href="#" class="p2"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
